.wopblock-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.wopblock-container a {
    text-decoration: none;
    color: white;
}

.wopblock-container a:visited {
    color: white;
}

.wopblock-container .wopblock-icon-container {
    padding-right: 10px;
}

.wopblock-container .wopblock-text-container {
    display: inline-block;
}

.wopblock-container .wopblock-content-container {
    background-color: transparent;
    color: #333;
    padding: 20px;
    font-size: 1.5em;
}

.wopblock-container .wopblock-content-container:hover {
    /* color: yellow; */
}

.wopblock-container .wopblock-content-container:hover .wopblock-text-container {
    /* transform: translate(.2em, 0); */
}
