.wopfooter-container {
    background-color: #eee;
    padding-top: 8px;
    height: 40px;
}

.wopfooter-container .main-toolbar p {
    padding: 5px;
    text-align: center;
    background-color: transparent;
    color: black;
    font-size: 0.9em;
}

.wopfooter-container .social-toolbar p {
    padding: 5px;
    font-size: 0.8em;
    text-align: center;
}

.wopfooter-container .social-toolbar .wopblock-container {
    width: 40px;
    margin-right: 0px;
}

.wopfooter-container .social-toolbar .wopblock-container p{
    background-color: transparent;
    color: #aaa;
}
