.woplogo-container .wopblock-container .wopblock-content-container {
    background-color: transparent;
    background-size: contain;
    color: #111;
    font-size: 1.6em;
}

.woplogo-container .wopblock-container .wopblock-content-container .wopblock-text-container {
    font-size: 1.8em;
}